---
import Base from './Base.astro';

const { frontmatter } = Astro.props;
---
<Base title={frontmatter.title} description={frontmatter.description}>
  <article class="prose dark:prose-invert prose-lg">
    <h1 class="text-4xl font-bold mb-4">{frontmatter.title}</h1>
    <p class="text-muted-foreground dark:text-mutedDark-foreground">
      Published on {new Date(frontmatter.pubDate).toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}
      {frontmatter.updatedDate && ` • Updated on ${new Date(frontmatter.updatedDate).toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}`}
    </p>
    {frontmatter.heroImage && <img src={frontmatter.heroImage} alt="" class="w-full h-auto rounded-lg" />}
    <slot />
  </article>
</Base>